.row
  .column.small-12
    %h2 Workshift Preferences
  .column.small-12
    = render 'users/category_preferences', categories: @categories
  .column.small-12
    = render 'users/time_preferences', schedule: @schedule
