.row
  .column.small-12
    %h2 Hour Reports
  .column.small-12
    %ul.button-group.round.stack-for-small
      %li
        = link_to 'View Semester Report', view_semester_report_path,
          class: 'button small'
      %li
        = link_to 'Download Semester Report', download_semester_report_path,
          class: 'button small'
  .column.small-12
    %h4 Weekly Reports
    :markdown
      Weekly reports are generated every Monday at 12:00AM, and are formatted
      as **[CSV](http://en.wikipedia.org/wiki/Comma-separated_values)** files,
      with resident names in the first column and the number of hours they are
      up or down for the current week in the second column.
  .column.small-12
    %table
      %thead
        %tr
          %th Title
          %th Download
      %tbody
        - @reports.each do |report|
          %tr
            %td= link_to report.title, view_report_path(report)
            %td= link_to 'Download', download_report_path(report)
