.row
  .column.small-12
    %h3 Semester Hours Report
  .column.small-12
    %table.data-table
      %thead
        %th Resident
        %th Hours Balance
      %tbody
        - CSV.parse(@text) do |row|
          %tr
            %td= row[0]
            %td= row[1]
