<h1 style="margin-bottom:15px;"> <%= @metashift.category%></h4>

<h3 style="margin-bottom:15px;"> Description: <small> <%= @metashift.description%></small> </h4>

<h3 style="margin-bottom:15px;"> Hour Value: <small><%= @metashift.multiplier%></small></h4>

