<h1>Listing Shifts</h1>

<!--= react_component 'WorkShiftTable', {:shifts => @serializedShifts}, :div

/= @shifts.inspect
/= @serializedShifts.inspect

= link_to 'New Shift', new_shift_path-->

<div id='work-shift-table'></div>
