<h1>Listing Shifts</h1>

<!--<%= react_component 'WorkShiftTable', {:shifts => @serializedShifts}, :div %>-->

<!--= @shifts.inspect-->
<!--= @serializedShifts.inspect-->


<%= content_tag :div, class: "temp_information", data: {temp: @serializedShifts} do %>

<% end %>

<div id='work-shift-table'></div>

<br>
<%= link_to('New Shift', new_shift_path) if admin_rights? %>