.row
  %h1.column.small-12 Workshift Assignments

= simple_form_for(@workshift) do |f|
  .row
    .column.small-12
      = f.error_notification
  .column.small-5.medium-4.large-2
      = f.input :user, collection: User.all, include_blank: true