.row
  .column.small-12
    %h2 Add New Users
  .column.small-12
    :markdown
      Enter new user information in **Comma Separated** format, with names
      in the first column and email addresses in the second.

      [Example Input](http://pastebin.com/Kaedc37g)

.row
  = form_tag invite_users_path do
    .column.small-12
      = label_tag 'user_info', 'User Names and Emails'
      = text_area_tag 'user_info', @user_info, rows: 20,
        placeholder: 'User Name,user_email@example.com'
    .column.small-12
      %input.button{:type => "submit", :value => "Invite User"}/
