// This is a manifest file that'll be compiled into application.css,
// which will include all the files listed below.
//
// Any CSS and SCSS file within this directory, lib/assets/stylesheets,
// vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
// can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at
// the top of the compiled file, but it's generally better to create a new file
// per style scope.

@import 'base/variables';
@import 'components/*';
@import 'resources/*';
@import 'foundation_and_overrides';
@import 'dataTables/jquery.dataTables.foundation';

table#house_roster td.down_hours {
    background: #FF4747;
}
table#house_roster td.up_hours {
    background: #4AFF6B;
}
table#user_info td.down_hours {
    background: #FF4747;
}
table#user_info td.up_hours {
    background: #4AFF6B;
}

fieldset#insights span.alert {
    color: red;
}
