%h1 Edit Your Policy

= form_tag policy_path, :method => :put, class:"form-horizontal" do 
    = render :partial => 'policy_form'  
    
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    <button type="submit" class="btn btn-theme">Save Changes</button>
    </div>
    </div>

= link_to 'Back', policy_path
